<div class="kwl_block" id="kwl_content">
    <script type="text/html" name="item-template">
        <div class="field-row">
            <span class="textarea" data-type="init" role="textbox" contenteditable></span>
            <span class="drag"></span>
            <label class="counter">256</label>
        </div>
    </script>
    {% with learn_column_visible=self.show_learned_column %}
    <div class="columns-holder {% if self.show_learned_column %} three {% endif %}">
        <div class="column"  id="column-know">
            <h2 class="in-center">{{ self.config.know_title }}</h2>
            <div class="description">
                {{ self.config.knows_help_text|safe }}
            </div>
            <div class="input_fields_wrap">
                <div class="list-container-view" data-index="knows" id="know-container">
                </div>
                {% if not learn_column_visible %}
                    <button class="add_field_button" data-target="#know-container" data-index="knows"> <i class="fa fa-plus" aria-hidden="true"></i> Add New Item</button>
                {% endif %}
            </div>
        </div>
        <div class="column" id="column-wonder">
            <h2 class="in-center">{{ self.config.wonder_title }}</h2>
            <div class="description">
                {{ self.config.wonder_help_text|safe }}
            </div>
            <div class="input_fields_wrap">
                <div class="list-container-view" data-index="wonder" id="wonder-container">
                </div>
                {% if not learn_column_visible %}
                    <button class="add_field_button" data-target="#wonder-container" data-index="wonder"><i class="fa fa-plus" aria-hidden="true"></i> Add New Item</button>
                {% endif %}
            </div>
        </div>
        {% if learn_column_visible %}
        <div class="column" id="column-learned">
            <h2 class="in-center">{{ self.config.learned_title }}</h2>
            <div class="description">
                {{ self.config.learned_help_text|safe }}
            </div>
            <div class="input_fields_wrap">
                <div class="list-container-view" data-index="learned" id="learned-container">
                </div>
                <button class="add_field_button" data-target="#learned-container" data-index="learned"><i class="fa fa-plus" aria-hidden="true"></i> Add New Item</button>
            </div>
        </div>
        {% endif %}
    </div>
    {% endwith %}
</div>
